<%= javascript_include_tag 'instructor.js' %>
<% title 'Managing Assessment' %>

<!-- Assignment name, test drivers, weight of test drivers, instructions, # attempts -->

<form class="form-horizontal container" id="instructor-form">
  <div class="form-group">
    <label for="assignment_name_field" class="col-sm-3 control-label">Assignment Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="assignment_name_field" placeholder="Assignment name">
    </div>
  </div>
  <div class="form-group">
    <label for="instruction_file_input" class="col-sm-3 control-label">Instruction File</label>
    <div class="col-sm-9">
    	<input type="file">
    </div>
  </div>
  <div id="instructor-form-test-drivers"></div>

    <button type="button" id="add-test-driver">Add Driver</button>

    <button class="btn btn-primary" type="submit" id="submit_button">Submit</button>
</form>

<script>
  $('#instructor-form').instructorForm({
    driverContainer: '#instructor-form-test-drivers',
    addDriverButton: '#add-test-driver'
  });
</script>